*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;		
}
body{
    background-color: #001E4D;
}
.info-container{
     background-color: rgb(88, 116, 12);
     margin-top: 0px;
     padding: 5px;
     overflow: hidden;
}
.info{
    font-size: 20px;
    color: whitesmoke;
    padding: 2px;
    animation: moving 15s linear infinite;
}
.info span{
   color: rgb(15, 15, 88);
}
.info:hover{
   animation-play-state: paused;
}
@keyframes moving{
   0%{transform: translateX(-100%);}
   100%{transform: translateX(100%);}
}

.app{
    background-color: #FFF;
    width: 90%;
    max-width: 650px;
    margin: 40px auto;
    border-radius: 10px;
    padding: 30px;
    /* text-align: center;*/
}

.counter-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	background: #CCE5FF;
	border: 1px solid #B8DAFF;
	border-radius: 5px;
	padding: 5px 8px;
}
.totalQuest{
	font-size: 13px;
	font-weight: 700;
}
.timer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;	
}

.time-label{
	font-weight: 600;
	font-size: 17px;
	user-select: none;
	margin-right: 10px;
}
.time-val{
	font-weight: 500;
	font-size: 18px;
	background: #FFF;
	height: 30px;
	width: 45px;
	text-align: center;
	color: #343A40;
	line-height: 30px;
	border-radius: 5px;
	border: 1px solid #343A40;
	user-select: none;
}
.app h1{
	font-size: 25px;
	color: #001E4D;
	font-weight: 600;
	border-bottom: 1px solid #333;
	padding: 30px;	
	text-align: center;
}
.quiz{
	padding: 20px 0;	
}
#question{
    color: #001E4D;
    font-size: 18px;
    margin-left: 2px;
    font-weight: 600;
    padding:8px;
}
.btn{
	background: #FFF;
	font-weight: 500;
	width: 100%;
	padding: 10px;
	border: 1px solid #222;
	margin: 10px 0;
	text-align: left;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.3s;
}
.btn:hover:not([disabled]){
	background: #222;
	color: #FFF;
}
.btn:disabled{
	cursor: no-drop;
}
#next-btn {
	background: #001E4D;
	color: #FFF;
	font-weight: 500;
	width: 150px;
	border: 0;
	margin: 20px auto 0;
	padding: 10px;
	border-radius: 4px;
	cursor: pointer;
	display: none;
}
.correct{
	background: #9AEABC;
}
.incorrect{
	background: #FF9393;
}
